<div class="top-content" style="background: #f6f7f9">
<div class="container" style="margin-top: 70px;margin-bottom: 50px">

        <div class="row" style="margin-left: 20%">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1>Sign up your <strong>Free Account</strong> With ERP-PLAN</h1>
                <div class="description">
                    <p>
                        Signup your free account.
                        <a href="http://xcodesofts.com"><strong>No Credit card required</strong></a>. </p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 30%">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <form role="form" action="" method="post" class="f1">

                    <!--<h3>Register To Our App</h3>
                    <p>Fill in the form to get instant access</p>
                    <div class="f1-steps">
                        <div class="f1-progress">
                            <div class="f1-progress-line" data-now-value="12.5" data-number-of-steps="4" style="width: 12.5%;"></div>
                        </div>
                        <div class="f1-step active">
                            <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                            <p>Account Detail</p>
                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-question"></i></div>
                            <p>Question</p>
                        </div>
                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                            <p>Address Detail</p>
                        </div>

                        <div class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                            <p>Product Detail</p>
                        </div>
                    </div>-->

                    <fieldset>
                        <h4>Enter your Account Details</h4>
                        <div class="form-group">
                            <label class="sr-only" for="f1-first-name">Orgnisation Name</label>
                            <input type="text" name="f1-first-name" placeholder=" Organisation Name..." class="f1-first-name form-control" id="f1-first-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-last-name">Business Email</label>
                            <input type="text" name="f1-email" placeholder="Business Email..." class="f1-first-name form-control" id="f1-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-password">Password</label>
                            <input type="password" name="f1-password" placeholder="Password..." class="f1-password form-control" id="f1-password">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                            <input type="password" name="f1-repeat-password" placeholder="Repeat password..." class="f1-repeat-password form-control"
                                id="f1-repeat-password">
                        </div>
                       
                    </fieldset>

                    <fieldset>
                        <h4>Security question:</h4>
                        <div class="form-group">
                            <label class="sr-only" for="f1-question">Question</label>
                            <input type="text" name="f1-question" placeholder="Question..." class="f1-question form-control" id="f1-question">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-answer">Answer</label>
                            <input type="text" name="f1-answer" placeholder="Answer..." class="f1-answer form-control" id="f1-answer">
                        </div>
                        <!--<div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>-->
                    </fieldset>

                    <fieldset>
                        <h4>Address Details:</h4>
                        <div class="form-group">
                            <label class="sr-only" for="f1-first-name">Address Name</label>
                            <input type="text" name="f1-first-name" placeholder=" Address Name..." class="f1-first-name form-control" id="f1-first-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-password">Landmark</label>
                            <input type="password" name="f1-password" placeholder="Landmark..." class="f1-password form-control" id="f1-password">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="f1-first-name">Zip Code</label>
                            <input type="text" name="f1-first-name" placeholder=" Zip code..." class="f1-first-name form-control" id="f1-first-name">
                        </div>
                        <select name="state" style="padding:12px" id="countySel" size="1" class="form-control">
                                    <option value="" selected="selected" >Select Country</option>
                                </select><br>
                        <select name="country" style="padding:12px" id="stateSel" size="1" class="form-control">
                                    <option value="" selected="selected">Please your state</option>
                                </select><br>
                        <select name="district" style="padding:12px" id="districtSel" size="1" class="form-control">
                                    <option value="" selected="selected">Please select city</option>
                                </select><br>
                        <!--<div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>-->
                    </fieldset>

                    <fieldset>
                        <h4>Choose your product</h4>
                        <select name="Select product" style="padding:12px" id="productsel" size="1" class="form-control">
                                    <option value="" selected="selected">Please select product</option>
                                </select><br>
                        <select name="Select Industry" style="padding:12px" id="industrysel" size="1" class="form-control">
                                    <option value="" selected="selected">Please select industry</option>
                                </select><br>
                        <select name="Select Business" style="padding:12px" id="businesssel" size="1" class="form-control">
                                    <option value="" selected="selected">Please select business</option>
                                </select><br>
                        <!--<div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>-->

                         <div class="f1-buttons">
                            <a href="/" class="btn btn-next">Back to Login</a>
                            <button type="button" class="btn success">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>